<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top"> 
<!-- Brand -->
<a class="navbar-brand" style="color:green;" href="{% url "blog:post_list" %}">ruby179</a>

<!-- Toggler/collapsibe Button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
</button>

<!-- Navbar links -->
<div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">

    {% url "blog:post_list" as url %}
    <li class="nav-item {% if request.path == url %}active {% endif %}">
     <a class="nav-link" style="color:;" href="{{ url }}">Home</a>
    </li>

    {% url "blog-FAQ" as url %}
    <li class="nav-item {% if request.path == url %}active {% endif %}">
     <a class="nav-link" style="color:;" href="{{ url }}">FAQ</a>
    </li>

    {% url "blog-notifications" as url %}
    <li class="nav-item {% if request.path == url %}active {% endif %}">
     <a class="nav-link" style="color:;" href="{{ url }}">Notifications</a>
    </li>

  </ul>
</div>
</nav>  
